/* Found at: https://www.w3schools.com/howto/howto_js_topnav.asp */

nav {
    background-color: #444;
    overflow: hidden;
    position: fixed;
    top: 0px;
    width: 100%;
    height: 45px;
}

nav a {
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
    height: 100%;
    margin: auto;
    white-space: nowrap;
}

nav a:hover {
    background-color: #CCC;
    color: black;
}

nav a.active {
    background-color: #666;
    color: white;
}

.rightsidemenu {
    float: right;
}